@media(max-width:768px){

.container{

padding:20px;

}

.forecast{

grid-template-columns:repeat(2,1fr);

}

.weather-card h3{

font-size:40px;

}

}

@media(max-width:500px){

.search-box{

flex-direction:column;

}

.search-box button{

width:100%;

}

.forecast{

grid-template-columns:1fr;

}

.unit-toggle{

flex-direction:column;

}

.city-btn{

width:100%;

}

.weather-card{

padding:20px;

}

}