.weather-icon{

width:90px;

height:90px;

margin:auto;

border-radius:50%;

margin-bottom:15px;

}

.sun{

background:gold;

box-shadow:0 0 35px gold;

}

.cloud{

background:lightgray;

}

.rain{

background:#5dade2;

}

.snow{

background:white;

border:3px solid gray;

}

.storm{

background:#555;

}